{
	admin off
	local_certs
	skip_install_trust
	ocsp_stapling off
	pki {
		ca local {
			name "CBT Root CA"
		}
	}
}
{$address} {
	redir / /login/ permanent
	file_server /* {
		root /srv
	}
	reverse_proxy /api/* {
		to backend:3000
	}
	handle_errors 404 {
		respond "404: Page not found"
	}
}
