form {
	display: grid;
	row-gap: 5px;
	justify-items: center;
}

div,
h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	border-radius: 7px;
	border: 1px solid #ccc;
	margin-top: 5px;
	width: 300px;
}

input[type=submit] {
	border-radius: 7px;
	border: none;
	margin-top: 5px;
	background-color: #4379F2;
	border: 1px solid #4379F2;
	color: #e5e5e5;
	padding: 10px 15px;
}

input[type=submit]:hover {
	cursor: pointer;
	background-color: #e5e5e5;
	color: #4379F2;
}

footer {
	padding: 5px;
	/* top | left and right | bottom */
	margin: 0 .5rem .55rem;
	background-color: #43494c;
	color: #e8e6e3;
	border-radius: .6rem;
	position: fixed;
	bottom: 0;
	text-align: center;
}