form {
	display: grid;
	row-gap: 5px;
	justify-items: center;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	border-radius: 7px;
	margin-top: 5px;
	/* get width based on size of the parent */
	width: calc(100% - 35px);
	padding: 10px;
	color: #e5e5e5;
	border: none;
	background-color: #262a2b;
}

input[type=submit] {
	border-radius: 7px;
	margin-top: 5px;
	background-color: #4379F2;
	border: 2px solid #4379F2;
	color: #e5e5e5;
	transition: .3s;
	padding: 10px 15px;
}

input[type=submit]:hover {
	cursor: pointer;
	font-weight: 900;
	transform: scale(1.05);
	transition: .5s;
	background-color: transparent;
	color: #4379F2;
}

footer {
	padding: 5px;
	/* top | left and right | bottom */
	margin: 0 .5rem .55rem;
	background-color: #43494c;
	color: #e8e6e3;
	border-radius: .6rem;
	position: fixed;
	bottom: 0;
	text-align: center;
}

body {
	background-color: #121414;
	color: #e8e6e3;
}

#inner {
	background-color: #1a1c1d;
	width: 30%;
	height: 300px;
	padding: 50px;
	border-radius: 15px;
}

#outer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}