form {
	display: flex;
	flex-direction: column;
}
table {
	width: 100%;
	border-spacing: 5px;
}

td {
	border-radius: 7px;
	padding: 3px;
	background-color: #2e3337;
}

#rawDataDiag {
	max-width: 95%;
	max-height: 85%;
}

.closeDiag {
	border: none;
	cursor: pointer;
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	font-size: large;
	outline: none;
	color: #beffdb;
}

dialog {
	border: none;
	border-radius: 10px;
	background-color: #0c0f12;
	color: #beffdb;
}

.rawDataBtn {
	background-color: #5e43f3;
	user-select: none;
}

.rawDataBtn:hover {
	background-color: #4c3af3;
	cursor: pointer;
}

body {
	background-color: #181a1b;
	color: #beffdb;
}

button, input[type="submit"] {
	border: none;
	border-radius: 48px;
	padding: 5px;
	margin: 3px;
	background-color: #29a8e1;
	color: #beffdb;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
	background-color: #208ab8;
}

header {
	display: flex;
	align-items: center;
}

#logo {
	width: 100px;
	border-radius: 50%;
}

.editIcon {
	cursor: pointer;
	width: 15px;
	padding: 3px;
	margin-left: 5px;
	background-color: #5e43f3;
	content: url('/images/edit-icon.svg');
	border-radius: 5px;
}

.deleteIcon {
	cursor: pointer;
	width: 15px;
	padding: 3px;
	margin-left: 5px;
	background-color: #f34343;
	content: url('/images/delete-icon.webp');
	border-radius: 5px;
}

.editIcon:hover {
	background-color: #4c3af3;
}

#warning {
	color: #fbff00;
}

#searchContainer {
	  position: absolute;
	  right: 0px;
	  width: 250px;
}

.arrow {
	border: solid #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	cursor: pointer;
}

.left {
	transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
}

input, select, textarea {
	border-radius: 7px;
	padding: 3px;
	border: none;
	background-color: #5d6e7c;
	color: #fff;
}